apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: websocket-app

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
- namespace.yaml
- deployment.yaml
- service.yaml

images:
- name: ghcr.io/williamguerzeder/websocket-app
  newTag: latest
